<div class="container-fluid ">
  <div class="mx-auto p-2", style="width: 600px;">
     <h1>welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
    
     <p class="text-start lh-lg mb-2" >
     In <i class="fa-solid fa-book"></i>Bookers,<br>
     <br>
     you can share and exchange your opinions , inpressions , and emotions<br>
     <br>
     about various books!
     </p>
     
  </div>
</div>
<div class="d-grid gap-2"> 
  <div class="mx-auto p-2" style="width: 500px;">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm" ,style: "width: 500px;", role: "button" %>
  </div>
   <div class="mx-auto p-2" style="width: 500px;">
    <%= link_to "Sign in", new_user_registration_path, class: "btn btn-success btn-sm", style: "width: 500px;", role: "button" %>
   </div>
</div>

